.body-dark {
    background-color: black;
}

body {
    background-color: white;
}

/* .border-class {
    border: 1px solid red;
} */

/* .bg-body-tertiary{
    background-color: 0;
    width: 80vw;
}
.bg-body-tertiary-dark{
    background-color: black;
} */

.container {
    max-width: 100%;
}

.canvas {
    background-color: white;
}
.canvas-dark{
    background-color: black;
}

.mainNav {
    margin: auto;
}
.header{
   margin: auto;
}

ul {
    display: inline-flex;
    margin-top: -23px;
    margin-bottom: -1rem;
    margin-left: 50%;
    /* justify-content: space-between;
    align-items: center;
    flex-direction: row; */
}

ul>li {
    text-decoration: none;
    font-size: large;
    margin: auto;
    margin-right: 7%;
    /* margin-left: 7%; */
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
}

#priceConverter{
    margin-left: 43vw;
    margin-right: 43vw;
}

#image-grid {
    margin-bottom: 3vh;
    border-radius: 3vh;
    /* margin: auto; */
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
}

.iframe {
    height: 100%;
    width: 100%;
}

.text-primaryDark {
    color: white;
}

#darkModeBtn {
    display: inline-flex;
    margin-left: 30%;
    margin-top: 5%;
    font-family: 'Oswald', sans-serif;
}

.button-dark {
    background-color: orangered;
}

.btn.active {
    color: black;
    border: 1px solid white;
    background-color: white;
}

.btn {
    border: 1px solid black;
    /* border-radius: 40%; */
    font-family: 'Oswald', sans-serif;
}

.mainNavDark {
    color: white;
}

.parentClass {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
    border-radius: 36px;
}

.childClass {
        display: flex;
       
}

/* #characterPageCard {
    width: 20vw;
    background-image: url(../images/curseOfTheStrahdCard.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
} */

/* #externalLinkCard {
    width: 20vw;
    background-image: url(../images/curseOfTheStrahdCard.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#videosCard {
    width: 20vw;
    background-image: url(../images/talesFromTheYawningPortal.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#backgroundsCard {
    width: 20vw;
    background-image: url(../images/curseOfTheStrahdCard.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#campaignCard {
    width: 20vw;
    background-image: url(../images/curseOfTheStrahdCard.png);
    background-repeat: no-repeat;
    background-size: contain;
} */

.invalid-Form-Input {
    background-color: white;
    color: red;
    font-family: 'Oswald', sans-serif;
}
.invalid-Form-Input-Dark{
    background-color: red;
    color: salmon;
    font-family: 'Oswald', sans-serif;
}

.footer{
    border-radius: 39px;
    margin-top: 3vh;
}
.footer>p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    /* margin: auto; */
    text-align: center;
    /* padding-top: 5%; */
}
.h2-navigation {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.h2-dark{
    color: orangered;
    /* padding-top: 5%; */
}
.p-dark{
    color: white;
}
.p-card{
    margin: auto;
    text-align: center;
    max-width: 60%;
    padding-top: 1%;
}
label{
    font-size: large;
}
.label-dark{
    color: orangered;
}
.legend-dark{
    color: white
}
input[button] {
    font-family: 'Oswald', sans-serif;
}

fieldset {
    font-family: 'Oswald', sans-serif;
    /* height: 100vh; */
    width: 60vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.bold-text {
    font-weight: bold;
    text-align: center;
}


.p-dark-footer {
    color: orangered;
}

.card {
    /* padding: 10%, 0; */
    background-color: #f6f5f5;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-dark{
    background-color: black;
    border: solid 1px grey;
}
.card-nav-dark{
    background-color: black;
    border: solid 1px grey;
}

.card-navigation-character{
    /* background-color: #f6f5f5; */
    background-image: url(../images/curseOfTheStrahdCard.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
.card-video-section{
    /* padding: 10%, 0; */
    /* background-color: #f6f5f5; */
    height: 77vh;
    /* margin: auto; */
    margin-bottom: 3vh;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-character{
    margin-bottom: 3vh;
    margin-top: 3vh;
    height:36vh;
    border-radius: 59px;
}
.name-card-dark{
    background-color: black;
}

.card-body {
    display: block;
    margin: auto;
    width: 90%;
}
.card-body-dark{
    background-color: black;

}

.card.campaign {
    height: 70vh;
    width: 98vw;
    margin-bottom: 2vh;
    border-radius: 3vw;

}
.border{
    border: var(--bs-border-width) var(--bs-border-style) #0c6ffd!important;
    /* border: var(--bs-border-width) var(--bs-border-style) orangered!important; */
}
.border-dark{
    border: var(--bs-border-width) var(--bs-border-style) orangered!important;
}
.card.campaign > p{
    max-width: 60%;
}
.card > #card-contact{
    height: 90vh;
    width: 70vw;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;  
}
.contact{
    border-radius: 3vh;
}
/* #card-Second-Nav{
    border: solid 1px black;
    display: flex;
    height: 30vh;
    width: 15vw;
    border: solid 1px black;
    border-radius: 20px;
    justify-content: first baseline;
}
#card-Second-Nav > ul{
    flex-direction: column;
    flex-wrap: wrap; 
 } */

/* .card.campaign.tyrannyOfDragons {
    background-image: url(../images/tyrannyOfDragons\ copy.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .characterPage {
    background-color: black;
} */
.characterCard{
        height: 40vh;
        width: 98vw;
        margin-bottom: 2vh;
        border-radius: 3vh;
}
.characterCard > p{
    max-width: 60%;
}
img {
    width: 40vh;
    height: 40vh;
}