.body-dark {
    background-color: black;
}

body {
    background-color: white;
}

/* .border-class {
    border: 1px solid red;
} */

.container {
    max-width: 100%;
}

.canvas {
    background-color: white;
}

.canvas-dark {
    background-color: black;
}

.mainNav {
    margin: auto;
}

.header {
    margin: auto;
}

ul {
    display: inline;
    padding-left: 0;
    flex-direction: row;
}

ul>li {
    text-decoration: none;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
}

#image-grid {
    margin: auto;
    width: 100%;
    display: inline;
}

.iframe {
    height: 100%;
    width: 100%;
}

.text-primaryDark {
    color: white;
}

#darkModeBtn {
    display: inline;
    margin-left: 37vw;
    margin-top: 2%;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black
}

.button-dark {
    background-color: orangered;
}

.btn.active {
    color: black;
    border: 1px solid white;
    background-color: white;
}

.btn {
    border: 1px solid black;
    font-family: 'Oswald', sans-serif;
}

.btn-nav {
    padding-left: 39vw;
    padding-right: 42vw;
}

.btn-nav-short {
    padding-left: 40vw;
    padding-right: 44vw;
}

.btn-nav-long {
    padding-left: 39vw;
    padding-right: 40%;
}

.btn-nav-extra-long{
    padding-left: 39vw;
    padding-right: 42%;
}

.mainNavDark {
    color: white;
}

.parentClass {
    justify-content: center;
}

.childClass {
    display: flex;
}

#characterPageCard {
    width: 93vw;
    height: 13vh;
}

#externalLinkCard {
    width: 93vw;
    height: 13vh;
}

#videosCard {
    width: 93vw;
    height: 13vh;
}

#backgroundsCard {
    width: 93vw;
    height: 13vh;
}

#campaignCard {
    width: 93vw;
    height: 13vh;
}

#characterCreation {
    width: 93vw;
    ;
}

.invalid-Form-Input {
    background-color: white;
    color: red;
    font-family: 'Oswald', sans-serif;
}

.invalid-Form-Input-Dark {
    background-color: red;
    color: salmon;
    font-family: 'Oswald', sans-serif;
}

.footer>p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    /* color: #0d6efd; */
}

.p-dark-footer {
    color: orangered;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

.h2-dark {
    color: orangered;
}

.p-dark {
    color: white;
}

label {
    font-size: large;
}

.label-dark {
    color: orangered;
}

.legend-dark {
    color: white
}

input[type="submit"] {
    margin-left: 25vw;
}


fieldset {
    font-family: 'Oswald', sans-serif;

    width: 35vh;

}

.bold-text {
    font-weight: bold;
    font-style: italic;
    color: orangered;
}


.card {

    background-color: #f6f5f5;
    height: 56vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-dark {
    background-color: black;
    border: solid 1px grey;
}

.name-card-dark {
    background-color: black;
}

.card-body {
    display: block;
    margin: auto;
    width: 90%;
}

.card-video-section {
    height: 27vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-card {
    padding: 10%, 0;
    height: 8vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.campaign {
    height: 86vh;
    width: 94vw;
    margin-bottom: 2vh;
    margin-top: 2vh;

}

#card-contact {
    height: 72vh;
    width: 93vw;
}

#card-contact-body {
    height: 72vh;
    width: 93vw;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

#card-Second-Nav {
    border: solid 1px black;
    display: flex;
    height: 30vh;
    width: 15vw;
    border: solid 1px black;
    border-radius: 20px;
    justify-content: first baseline;
}

#card-Second-Nav>ul {
    flex-direction: column;
    flex-wrap: wrap;
}



.characterPage {
    background-color: black;
}

img {
    width: 40vh;
    height: 40vh;
}